<a href="https://colab.research.google.com/github/I-AM-unicorn/colab/blob/main/What_is_a_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myName = "Wilson"
print(myName)

Wilson

In [ ]:
myName = "Penguin"
print(myName)

Penguin

In [ ]:
numberOfPets = 3
# 3 + numberOfPets  Wrong syntax
print(numberOfPets)

3

In [ ]:
10Balloons = "buy ten balloons"

SyntaxError: ignored

ten_balloons = "buy ten balloons"  Tis is also  avalid variable name

In [ ]:
myAge = 62
my_age = 62
print(myAge)
print(my_age)

62
62

nothing = ""
print(nothing)

In [ ]:
floatNumber = 3.14
print(floatNumber)

3.14